@font-face {
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  src: url("icon-font.eot?9074cfa8c52fd1425142e53297c29967?#iefix") format("embedded-opentype"),
url("icon-font.woff2?9074cfa8c52fd1425142e53297c29967") format("woff2"),
url("icon-font.woff?9074cfa8c52fd1425142e53297c29967") format("woff");
}

.icon-font, .ic-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.ic-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.icon-font {
  font-family: 'icon-font';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ic-alram:before { content: "\f101"; }
.ic-announcement:before { content: "\f102"; }
.ic-at:before { content: "\f103"; }
.ic-attachment:before { content: "\f104"; }
.ic-blank:before { content: "\f105"; }
.ic-bullet-asterisk:before { content: "\f106"; }
.ic-bullet-dot-bold:before { content: "\f107"; }
.ic-bullet-dot:before { content: "\f108"; }
.ic-bullet-hypen:before { content: "\f109"; }
.ic-bullet-shape:before { content: "\f10a"; }
.ic-calendar:before { content: "\f10b"; }
.ic-call:before { content: "\f10c"; }
.ic-caution-lined:before { content: "\f10d"; }
.ic-caution:before { content: "\f10e"; }
.ic-cautrion-filled:before { content: "\f10f"; }
.ic-check-bold:before { content: "\f110"; }
.ic-check:before { content: "\f111"; }
.ic-chevron-down-bold:before { content: "\f112"; }
.ic-chevron-down:before { content: "\f113"; }
.ic-chevron-left-bold:before { content: "\f114"; }
.ic-chevron-left-double-bold:before { content: "\f115"; }
.ic-chevron-left-double:before { content: "\f116"; }
.ic-chevron-left:before { content: "\f117"; }
.ic-chevron-right-bold:before { content: "\f118"; }
.ic-chevron-right-double-bold:before { content: "\f119"; }
.ic-chevron-right-double:before { content: "\f11a"; }
.ic-chevron-right:before { content: "\f11b"; }
.ic-chevron-up-bold:before { content: "\f11c"; }
.ic-chevron-up:before { content: "\f11d"; }
.ic-close-bold:before { content: "\f11e"; }
.ic-close-circle-filled:before { content: "\f11f"; }
.ic-close-circle-lined:before { content: "\f120"; }
.ic-close:before { content: "\f121"; }
.ic-delete:before { content: "\f122"; }
.ic-divider:before { content: "\f123"; }
.ic-download:before { content: "\f124"; }
.ic-edit:before { content: "\f125"; }
.ic-eye-off:before { content: "\f126"; }
.ic-eye-on:before { content: "\f127"; }
.ic-file-attachment:before { content: "\f128"; }
.ic-file-bmp:before { content: "\f129"; }
.ic-file-doc:before { content: "\f12a"; }
.ic-file-gif:before { content: "\f12b"; }
.ic-file-hwp:before { content: "\f12c"; }
.ic-file-jpg:before { content: "\f12d"; }
.ic-file-pdf:before { content: "\f12e"; }
.ic-file-png:before { content: "\f12f"; }
.ic-file-ppt:before { content: "\f130"; }
.ic-file-xlsx:before { content: "\f131"; }
.ic-file-zip:before { content: "\f132"; }
.ic-file:before { content: "\f133"; }
.ic-graph:before { content: "\f134"; }
.ic-home:before { content: "\f135"; }
.ic-info-filled:before { content: "\f136"; }
.ic-info-lined:before { content: "\f137"; }
.ic-keyboard-bold:before { content: "\f138"; }
.ic-keyboard:before { content: "\f139"; }
.ic-link:before { content: "\f13a"; }
.ic-location:before { content: "\f13b"; }
.ic-login-v1:before { content: "\f13c"; }
.ic-login-v2:before { content: "\f13d"; }
.ic-mark-bold:before { content: "\f13e"; }
.ic-mark:before { content: "\f13f"; }
.ic-message-default:before { content: "\f140"; }
.ic-message-error:before { content: "\f141"; }
.ic-message-success:before { content: "\f142"; }
.ic-minus-bold:before { content: "\f143"; }
.ic-minus:before { content: "\f144"; }
.ic-new:before { content: "\f145"; }
.ic-parking:before { content: "\f146"; }
.ic-pause-bold:before { content: "\f147"; }
.ic-pause:before { content: "\f148"; }
.ic-pin-bold:before { content: "\f149"; }
.ic-pin:before { content: "\f14a"; }
.ic-play-bold:before { content: "\f14b"; }
.ic-play:before { content: "\f14c"; }
.ic-plus-bold:before { content: "\f14d"; }
.ic-plus:before { content: "\f14e"; }
.ic-question-filled:before { content: "\f14f"; }
.ic-question-lined:before { content: "\f150"; }
.ic-refresh:before { content: "\f151"; }
.ic-search:before { content: "\f152"; }
.ic-setting-bold:before { content: "\f153"; }
.ic-setting:before { content: "\f154"; }
.ic-star-filled:before { content: "\f155"; }
.ic-star-lined:before { content: "\f156"; }
.ic-tilde:before { content: "\f157"; }
.ic-timeout:before { content: "\f158"; }
.ic-updown-down:before { content: "\f159"; }
.ic-updown-up:before { content: "\f15a"; }
.ic-upload:before { content: "\f15b"; }
.ic-wifi:before { content: "\f15c"; }
